<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Welcome and choose your flight</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/photos/style.css">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="/"><img src="../photos/logo.jpg" style="width: 70px"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active" sec:authorize="hasRole('ROLE_ADMIN')">
                <a class="nav-link" href="/view/rezervacii">Reservations <span class="sr-only"></span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/view/linii">Lines <span class="sr-only"></span></a>
            </li>
            <li class="nav-item active" sec:authorize="hasRole('ROLE_ADMIN')">
                <a class="nav-link" href="/view/mesec_godina">Reservations by month report<span class="sr-only"></span></a>
            </li>
            <li class="nav-item active" sec:authorize="hasRole('ROLE_ADMIN')">
                <a class="nav-link" href="/view/najcesti_linii">Line reservation report <span
                        class="sr-only"></span></a>
            </li>
            <li class="nav-item active" sec:authorize="hasRole('ROLE_ADMIN')">
                <a class="nav-link" href="/view/patnici">Passenger report <span class="sr-only"></span></a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">

            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" href="#">
                    <th:block th:if="${#request.getRemoteUser() != null}"
                              th:text="${#request.getRemoteUser()}"></th:block>
                </a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="btn btn-light btn-sm ml-3" href="/logout">
                    <i class="fa fa-shopping-cart"></i> Logout
                </a>
            </li>
            <li class="nav-item" sec:authorize="!isAuthenticated()">
                <a class="btn btn-light btn-sm ml-3" href="/login">
                    <i class="fa fa-shopping-cart"></i> Login
                </a>
            </li>
            <li class="nav-item" sec:authorize="!isAuthenticated()">
                <a class="btn btn-light btn-sm ml-3" href="/register">
                    <i class="fa fa-shopping-cart"></i> Register
                </a>
            </li>
        </ul>

    </div>
</nav>
<div class="banner2">

</div>
<div class="orange_line">
</div>
<div class="container">
    <div class="spacerUpDown">
        <table class="table table-hover" style="background-color: white; cursor: pointer">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">From</th>
                <th scope="col">To</th>
                <th scope="col">Number of flights</th>
            </tr>
            </thead>
            <tbody>
            <tr class="line"></tr>
            <tr th:each="l : ${linii}" class="line">
                <th scope="row">
                    <th:block th:text="${l.getIdLinija()}"/>
                </th>
                <td><a th:href="@{'/view/let/{id_linija}' (id_linija=${l.getIdLinija()})}"
                       style="text-decoration: none">
                    <th:block th:text="${l.getDestinacija_od()}"/>
                </a></td>
                <td><a th:href="@{'/view/let/{id_linija}' (id_linija=${l.getIdLinija()})}"
                       style="text-decoration: none">
                    <th:block th:text="${l.getDestinacija_do()}"/>
                </a></td>
                <td><a th:href="@{'/view/let/{id_linija}' (id_linija=${l.getIdLinija()})}"
                       style="text-decoration: none">
                    <th:block th:text="${l.getBroj_letovi()}"/>
                </a></td>
            </tr>
            </tbody>
        </table>

    </div>

</div>
</body>
</html>

